.button.is-link {
  background-color: rgb(46, 99, 245) !important;
  border-radius: 10px;
  font-size: 21px;
  font-weight: bold;
  padding: 34px;
}
.self-title {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.title-btn {
  padding: 10px;
  border-radius: 24px;
  border: 1px solid #b9bfc5;
}
.fa-arrow-left {
  font-size: 24px;
}

.amount {
  display: flex;
  justify-content: center;
}
.amount-name {
  text-align: center;
  font-size: 26px;
  color: black;
  font-weight: 600;
}

.select-stake {
  font-size: 24px !important;
}
.count-amountn {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.amount-btn {
  border-radius: 28px;
  outline: none;
  border: 1px solid rgb(215, 220, 229);
  padding: 15px;
  background: rgb(239, 242, 248);
  color: rgb(96, 102, 123);
}
.fa-plus {
  font-size: 24px;
}
.fa-minus {
  font-size: 24px;
}
.amounts {
  width: 60%;
  padding: 13px;
  border-radius: 32px;
  border: 1px solid rgb(215, 220, 229);
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(239, 242, 248);
  color: rgb(96, 102, 123);
}
.amounts-number {
  width: 100%;
  border: none;
  outline: none;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  background: rgb(239, 242, 248);
  color: rgb(96, 102, 123) !important;
}
.select-crypto-lines {
  display: flex;
  justify-content: space-around;
}
.select-crypto-line {
  display: flex;
  justify-content: center;
  align-items: center;
}
.crypto-img {
  width: 43px;
  height: 43px;
}
.crypto-name {
  margin-left: 28px;
  margin-right: 28px;
  font-size: 29px;
}
.crypto-names {
  margin-left: 0px;
  margin-right: 7px;
  font-size: 29px;
}
.crypto-name-luna {
  margin-left: 24px;
  margin-right: 24px;
  font-size: 25px;
}

.crypto-check {
  width: 37px;
  height: 37px;
}
.foot-more {
  outline: none;
  border: none;
  font-weight: bold;
  color: rgb(128, 128, 128);
  text-align: center;
  font-size: 20px;
  list-style: none;
}
.foot-more a {
  color: rgb(0, 0, 0);
}
.get-link {
  color: #000000;
}
.get-link:hover {
  color: #000000;
}

@media (max-width: 500px) {
  .trans-a {
    font-size: 25px;
  }
  .trans-b {
    font-size: 25px;
  }
  .trans {
    height: 68px;
  }
  .tranc {
    height: 68px;
  }
  .crypto-img {
    width: 33px;
    height: 33px;
  }
  .crypto-names {
    margin: 0px 2px;
    font-size: 22px;
    color: rgb(29, 50, 82);
  }
  .crypto-name {
    margin: 0px 17px;
    font-size: 22px;
  }
  .select-staing {
    width: 58% !important;
  }
  .staking-crypto {
    width: 42% !important;
  }
  .staking-amount {
    font-size: 17px !important;
  }
  .footer-note p {
    font-weight: 500;
    font-size: 14.5px;
  }
  .crypto-name-luna {
    margin-left: 19px;
    margin-right: 13px;
    font-size: 17px;
    font-weight: 500;
  }
  .select select:not([multiple]) {
    padding-right: 0.5em;
  }

  .select:not(.is-multiple):not(.is-loading)::after,
  .navbar-link:not(.is-arrowless)::after {
    border: 3px solid rgb(13, 39, 182);
    border-radius: 2px;
    border-right: 0;
    border-top: 0;
    content: " ";
    display: block;
    height: 0.8em;
    margin-top: -0.4375em;
    pointer-events: none;
    position: absolute;
    top: 44%;
    transform: rotate(-45deg);
    transform-origin: center;
    width: 0.85em;
  }
  .select select {
    width: 100%;
    text-align: center;
    color: rgb(128, 128, 128);
    outline: none;
    border: none;
    height: 58px;
    font-size: 30px;
  }
  // .stakings {
  //   width: 100%;
  //   height: 60px;
  //   border: 1px solid rgb(239, 242, 248);
  //   border-radius: 46px;
  //   display: flex;
  //   justify-content: center;
  //   padding-right: 47px;
  //   align-items: center;
  // }
  // .staking-crypto {
  //   width: 35%;
  //   height: 60px;
  //   display: flex;
  //   padding-left: 20px;
  //   align-items: center;
  //   font-size: 25px;
  //   font-weight: 500;
  //   border-right: 1px solid rgb(128, 128, 128);
  //   background-color: rgb(239, 242, 248);
  //   border-top-left-radius: 41px;
  //   border-bottom-left-radius: 41px;
  // }
  .select-staing select {
    color: rgb(29, 50, 82) !important;
    font-weight: 500 !important;
  }
  .select:not(.is-multiple):not(.is-loading)::after {
    border-color: #485fc7;
    right: -0.875em;
    z-index: 4;
  }

  .select-staing.select:not(.is-multiple):not(.is-loading)::after {
    margin-top: -0.4375em !important;
  }
  .select-staing.select:not(.is-multiple):not(.is-loading)::after,
  .navbar-link:not(.is-arrowless)::after {
    height: 0.725em !important;
    width: 0.825em !important;
  }
  // .crypto-name {
  //   margin: 0px 2px;
  //   /* margin-right: 4px; */
  //   font-size: 22px;
  // }

  .input-group > .form-control,
  .input-group > .form-select {
    padding-left: 21px;
    font-size: 24px;
    border: none;
    cursor: pointer;
  }

  .form-control:focus {
    box-shadow: 0 0 0 0 !important;
  }

  .select:not(.is-multiple):not(.is-loading)::after {
    border-color: #485fc7;
    right: 0.125em;
    z-index: 4;
  }
}

@media (max-width: 380px) {

 .footer-note p {
    margin-top: 0;
    margin-bottom: 0.2rem;
}

  .trans-a {
    font-size: 21px;
  }
  .trans-b {
    font-size: 21px;
  }
  .trans {
    height: 65px;
  }
  .tranc {
    height: 65px;
  }
  .select select {
    font-size: 16px !important;
  }
  .name-table {
    padding-left: 10px;
    font-size: 16px !important;
  }
  .self-tables span {
    margin-left: 12px;
    font-size: 17px;
  }
  .info-input {
    margin-left: 15px;
  }
  .h-info-table span {
    margin-left: 14px;
    font-size: 17px;
  }
  .check-nicotine {
    width: 20px;
    height: 20px;
  }
  .checkbox p {
    font-size: 15px;
  }
  .fa-times {
    font-size: 20px;
  }
  .title-btn {
    padding: 7px;
    border-radius: 31px;
  }
  .self-name {
    font-size: 18px !important;
  }
  .switch-button {
    height: 52px;
  }
  .switch-button:before {
    font-size: 15px;
  }
  .switch-button-checkbox + .switch-button-label .switch-button-label-span {
    font-size: 15px;
  }
  .select:not(.is-multiple):not(.is-loading)::after {
    right: 0.125em;
  }
  .c-info-table {
    font-size: 14px;
  }
  .button.is-link {
    font-size: 17px;
    padding: 27px;
  }
  .fa-times {
    font-size: 18px !important;
  }
  .title-btn {
    padding: 7px !important;
  }
  .first-tables {
    height: 125px;
  }
  .first-input {
    font-size: 17px;
  }
  .other-input {
    font-size: 18px;
  }
  .react-tel-input .country-list {
    width: 177px;
  }
  .react-tel-input .form-control {
    font-size: 14px !important;
  }
  .amount-btn {
    padding: 8px;
  }
  .amounts-number {
    font-size: 20px;
  }
  .select-stake {
    font-size: 18px !important;
  }
  .crypto-check {
    width: 30px;
    height: 30px;
  }
  .crypto-name {
    margin: 0px 4px;
    font-size: 19px;
  }
  .crypto-name-luna {
    margin-left: 2px;
    margin-right: 4px;
    font-size: 15px;
  }
  .amount-name {
    font-size: 20px;
  }

  .crypto-names {
    display: none;
  }

  .stakings {
    height: 55px !important;
  }

  .staking-crypto {
    height: 55px !important;
    font-size: 25px;
  }

  .select select:not([multiple]) {
    padding-right: 0.5em;
  }

  .select select {
    height: 53px !important;
    font-size: 30px;
  }

  .select:not(.is-multiple):not(.is-loading)::after,
  .navbar-link:not(.is-arrowless)::after {
    height: 0.625em !important;
    margin-top: -0.4375em;
    top: 51%;
    width: 0.725em !important;
  }

  .qr-img {
    height: 250px;
    width: 250px;
  }

  .deposit-address {
    font-size: 18px !important;
    margin-bottom: 3px !important;
  }
  .deposit-password {
    font-size: 12px;
  }

  .input-group > .form-control,
  .input-group > .form-select {
    padding-left: 15px;
    font-size: 20px;
    border: none;
    cursor: pointer;
  }

  .select:not(.is-multiple):not(.is-loading)::after,
  .navbar-link:not(.is-arrowless)::after {
    right: 0.9em;
  }
}

@media (max-width: 330px) {
  .trans-a {
    font-size: 20px;
  }
  .trans-b {
    font-size: 20px;
  }
  .trans {
    height: 60px;
  }
  .tranc {
    height: 60px;
  }
  .self-name {
    font-size: 14px !important;
  }

  .input-group > .form-control,
  .input-group > .form-select {
    padding-left: 15px;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
}

// @media (min-width: 800px) {
//   .title-btn {
//     padding: 19px, 21px !important;
//   }
//   .fa-times {
//     font-size: 40px;
//   }
//   .self-name {
//     font-size: 50px;
//   }
//   .switch-button {
//     height: 100px;
//   }
//   .switch-button:before {
//     font-size: 45px;
//   }
//   .switch-button-checkbox + .switch-button-label .switch-button-label-span {
//     font-size: 45px;
//   }
//   .self-tables {
//     height: 90px;
//   }
//   .name-table {
//     width: 46%;
//     padding-left: 110px;
//     font-size: 40px;
//   }
//   .info-table {
//     width: 18%;
//   }
//   .self-tables span {
//     font-size: 30px;
//   }
//   .info-input {
//     margin-left: 20px;
//     font-size: 25px;
//   }
//   .h-info-table {
//     width: 27%;
//   }
//   .w-info-table {
//     width: 54%;
//   }
//   .c-info-table {
//     width: 54%;
//   }
//   .h-info-table span {
//     font-size: 30px;
//   }
//   .check-nicotine {
//     width: 40px;
//     height: 40px;
//   }
//   .checkbox p {
//     font-size: 33px;
//   }
//   .button.is-link {
//     font-size: 35px;
//     padding: 49px;
//   }
//   .first-table {
//     width: 46%;
//     padding-left: 110px;
//     font-size: 40px;
//   }
//   .f-table {
//     width: 54%;
//   }
//   .first-input {
//     font-size: 30px;
//   }
//   .other-input {
//     font-size: 30px;
//     width: 53%;
//   }
//   react-tel-input .form-control {
//     font-size: 30px;
//   }
//   .amount-name {
//     font-size: 40px;
//   }
//   .amounts {
//     width: 70%;
//     padding: 15px;
//     border-radius: 59px;
//   }
//   .amounts-number {
//     font-size: 49px;
//   }
//   .amount-btn {
//     border-radius: 43px;
//     padding: 26px;
//   }
//   .select-stake {
//     font-size: 35px !important;
//   }
//   .crypto-img {
//     width: 63px;
//     height: 63px;
//   }
//   .crypto-name {
//     margin-left: 50px;
//     margin-right: 50px;
//     font-size: 42px;
//     letter-spacing: 7px;
//   }
//   .crypto-check {
//     width: 48px;
//     height: 48px;
//   }
//   .crypto-name-luna {
//     margin-left: 55px;
//     margin-right: 46px;
//     font-size: 39px;
//   }
//   .stakings {
//     height: 110px !important;
//     border-radius: 60px !important;
//   }
//   .staking-crypto {
//     width: 43% !important;
//     height: 110px !important;
//     padding-left: 13% !important;
//     font-size: 25px !important;
//     border-top-left-radius: 54px !important;
//     border-bottom-left-radius: 54px !important;
//   }
//   .crypto-names {
//     margin-left: 13px;
//     margin-right: 13px;
//     font-size: 45px;
//     letter-spacing: 8px;
//   }
//   .select {
//     width: 57%;
//   }
//   .select select {
//     height: 90px !important;
//     font-size: 43px !important;
//   }
//   .select:not(.is-multiple):not(.is-loading)::after {
//     right: 4.125em;
//   }
//   .select:not(.is-multiple):not(.is-loading)::after,
//   .navbar-link:not(.is-arrowless)::after {
//     height: 1.025em;
//     margin-top: -0.6375em;
//     width: 1.125em;
//   }
//   .qr-img {
//     width: 500px !important;
//     height: 500px !important;
//   }
//   .deposit-address {
//     font-size: 40px !important;
//   }
//   .deposit-password {
//     font-size: 20px;
//   }
//   .deposit-icon {
//     width: 45px;
//     height: 45px;
//   }
//   .fa-plus {
//     font-size: 33px;
//   }
//   .fa-minus {
//     font-size: 33px;
//   }
//   .foot-more a {
//     font-size: 27px;
//   }
//   .foot-more {
//     margin-bottom: 20px;
//   }
//   .footer-note {
//     font-weight: 500 !important;
//     font-size: 33px !important;
//     padding: 0px, 30px !important;
//   }
//   .c-info-table .select {
//     width: 98% !important;
//   }
//   .c-info-table .select select {
//     height: 88px !important;
//     font-size: 38px !important;
//   }
//   .trans {
//     height: 90px;
//     border: 2px solid rgb(195, 199, 203);
//     border-radius: 50px;
//   }
//   .trans-a {
//     font-size: 36px;
//     font-weight: 500;
//     color: rgb(100, 106, 126);
//   }
//   .trans-b {
//     font-size: 36px;
//     font-weight: 500;
//     color: rgb(100, 106, 126);
//   }
//   .tranc {
//     height: 90px;
//     border: 2px solid rgb(45, 98, 244);
//     border-radius: 50px;
//     position: absolute;
//     display: flex;
//     justify-content: flex-start;
//     left: 0;
//   }
//   .active {
//     color: rgb(45, 98, 244) !important;
//   }
// }

@media (min-width: 500px) {
  .box {
    min-height: 100vh !important;
    padding-bottom: 20px !important;
    box-shadow: none !important;
    width: 500px;
    margin: auto;
    border: 1px solid rgb(204, 208, 212);
    border-radius: 10px;
  }
}
