.button.is-link{
  background-color:#3f5ce1 !important;
}
.self-title {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.title-btn {
  padding: 10px;
  border-radius: 24px;
  border: 1px solid #b9bfc5;
}
.fa-arrow-left {
  font-size: 24px;
}
.fa-times {
  font-size: 24px;
  color: rgb(210, 38, 38);
}
.amount {
  display: flex;
  justify-content: center;
}
.amount-name {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
}

.select-stake {
  font-size: 24px !important;
}
.count-amountn {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.amount-btn {
  border-radius: 28px;
  outline: none;
  border: 1px solid rgb(128, 128, 128);
  padding: 15px;
  color: rgb(128, 128, 128);
}
.fa-plus {
  font-size: 24px;
}
.fa-minus {
  font-size: 24px;
}
.amounts {
  width: 60%;
  padding: 13px;
  border-radius: 32px;
  border: 1px solid rgb(128, 128, 128);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(128, 128, 128);
}
.amounts-number {
  width: 100%;
  border: none;
  outline: none;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  color: rgb(128, 128, 128) !important;
}
.select-crypto-lines {
  display: flex;
  justify-content: space-around;
}
.select-crypto-line {
  display: flex;
  justify-content: center;
  align-items: center;
}
.crypto-img {
  width: 43px;
  height: 43px;
}
.crypto-name {
  margin-left: 13px;
  margin-right: 13px;
  font-size: 20px;
}
.crypto-name-luna {
  margin-left: 11px;
  margin-right: 11px;
  font-size: 17px;
}
.crypto-check {
  width: 37px;
  height: 37px;
}
.foot-more{
  outline: none;
  border: none;
  font-weight: bold;
  color: rgb(128, 128, 128);
  text-align: center;
  font-size: 20px;
  list-style: none;
}
.foot-more a{
  color: rgb(0, 0, 0);
}
.get-link{
  color: #000000;
}
.get-link:hover{
  color: #000000;
}