.trans{
    width: 100%;
    height: 70px;
    border: 1px solid grey;
    border-radius: 36px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.trnas-a{
    color: blue;
}

.trans-b{
    color: black;
}

.tranc{
    width: 50%;
    height: 70px;
    border: 1px solid blue;
    border-radius: 36px;
    position: absolute;

}



.total{
    width: 100%;
}